/* HeroSlider.css */
.hero-slider-container {
  position: relative;
}

.slide {
  position: relative;
  height: 650px; /* Adjust the height as per your design */
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide .slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 20px;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.slide .slide-text h3 {
  font-size: 24px;
  margin: 0;
}

.slide .slide-text p {
  font-size: 16px;
  margin: 10px 0 0;
}
/* Responsive styles */
@media only screen and (max-width: 767px) {
  .hero-slider-container {
    width: 100%;
  }
  

  .hero-slider-container .carousel .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-slider-container .carousel .slide img {
  width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .hero-slider-container .slide-text {
    font-size: 14px;
  }
}